#   python pre compiled file
*.pyc

#   ignore all image files and annotations
*.png
*.png.txt

#   ignore backup folders
static/anno_backup

#   ignore backup prog file
*.prog
*.prog.*
*.prog-*

#	DS Store
*.DS_Store

#   ignore result
*.txt
*.txt.*

#	log
*.log
*.part

