<!doctype html>
<!--/*
#	mpsk
#	Beijing University of Technology
#	Copyright 2017
*/
-->
<html>

<head>
	<meta charset="UTF-8">
	<title>数据标定</title>
	<!--部署版本
		<style type="text/css" media="screen">@import url("{{ url_for('static', filename='style.css')}}");</style>
	-->
	<script type="application/javascript">
		document.write("<style type='text/css' media='screen'>@import url(" + "{{ url_for('static', filename='style.css')}}" + "?" + Math.floor(Math.random() * 1000000) + ");</style>"); 
	</script>
</head>

<body>
	<!--Check Bar on the top of page-->
	<div class="check_bar" id="cbar">
		<div class="mbutton" id="mbtn_confirm">
			<div style="padding: 4px 4px 4px 20px;color:black;" onclick="window.location.href='/';">返回</div>
		</div>
    </div>
    
    <div align="center">

    </div>
</body>

</html>