<!doctype html>
<!--/*
#	mpsk
#	Beijing University of Technology
#	Copyright 2017
*/
-->
<html>

<head>
	<meta charset="UTF-8">
	<title>数据标定</title>
	<!--部署版本
		<style type="text/css" media="screen">@import url("{{ url_for('static', filename='style.css')}}");</style>
	-->
	<script type="application/javascript">
		document.write("<style type='text/css' media='screen'>@import url(" + "{{ url_for('static', filename='style.css')}}" + "?" + Math.floor(Math.random() * 1000000) + ");</style>"); 
	</script>
</head>

<body>
	<!--Check Bar on the top of page-->
	<div class="check_bar" id="cbar">
		<div class="mbutton" id="mbtn_confirm">
			<div style="padding: 4px 4px 4px 20px;color:black;" onclick="window.location.href='/';">返回</div>
		</div>
    </div>
    
    <div align="center">
		快捷键
		<table border="1">
			<tr>
			  <th>功能呢个</th>
			  <th>键位</th>
			</tr>
			<tr>
			  <td>提交并标定下一张</td>
			  <td>空格键/回车</td>
			</tr>
			<tr>
				<td>不可辨认</td>
				<td>B</td>
			</tr>
			<tr>
				<td>换一张</td>
				<td>N</td>
			</tr>
			<tr>
				<td>左眼</td>
				<td>1</td>
			</tr>
			<tr>
				<td>右眼</td>
				<td>2</td>
			</tr>
			<tr>
				<td>鼻子</td>
				<td>3</td>
			</tr>
			<tr>
				<td>左嘴角</td>
				<td>4</td>
			</tr>
			<tr>
				<td>右嘴角</td>
				<td>5</td>
			</tr>
		  </table>
    </div>
</body>

</html>